*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-font:Arial,sans-serif;
    --base-font-size:16px;
}

html{
    font-family:var(--main-font);
    font-size:var(--base-font-size);
}

header{
    background-color: black;
}

#main-title{
    color:white;
    font-size:1.8rem;
    line-height:2;
}

#header-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:15px;
}

#header-nav{
    display:flex;
    flex-direction: column;
}

nav ul{
    padding-left:30px;
}

nav li{
    color:purple;
}

nav li::marker{
    color:white;
}
