*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: Arial,sans-serif;
    --base-font-size: 16px;
    --nav-link-color: rgb(147, 112, 219);
}



html{
    font-family: var(--main-font);
    font-size: var(--base-font-size);
}

body{
    background-color: black;
}

header{
    padding-bottom:20px;
}

hr {
    border: none;
    height: 2px;       
    background-color: orange; 
    margin: 0.5rem 0;          
}



#main-title{
    font-size: 3rem;
    color: white;
    line-height: 2;
}

#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#nav-title{
    color:white;
}


#header-nav ul{
    width:70%;
    margin: 0 auto;
    list-style-position: inside;
}

#header-nav li{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: var(--nav-link-color);
}

#header-nav li::before{
    content: "•";
    color: white;
}


.text-section{
    padding:10px;
    background-color: #faebd7;

}

.bd-pink {border:10px #ff00ff solid;}
.bd-blue{border:10px #00ffff solid;}
.bd-orange{border:10px #ff8c00 solid;}



.text-section__title{
    margin:1.875rem 0;
    font-size: 2.25rem;
}

.text-section__paragraph{
    margin-bottom:1.5rem;
    font-size: 1.5rem;
}

.text-section__code{
    font-size: 1.125rem;
}

.gif{
    margin-bottom:1.5rem;
}
