*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: Arial,sans-serif;
    --base-font-size: 16px;
    --nav-link-color: rgb(147, 112, 219);
}


html{
    font-family: var(--main-font);
    font-size: var(--base-font-size);
}

body{
    background-color: black;
}

header{
    padding-bottom:20px;
    border-bottom: 2px solid orange;
}

#main-title{
    font-size: 2.25rem;
    color: white;
    line-height: 2;
}

#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#nav-title{
    color:white;
    font-size:0.8rem;
}


#header-nav ul{
    width:70%;
    margin: 0 auto;
    list-style-position: inside;
    font-size: 0.8rem;
}

#header-nav li{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: var(--nav-link-color);
}

#header-nav li::before{
    content: "•";
    color: white;
}
