*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-font:Arial,sans-serif;
    --base-font-size:16px;
}

html{
    font-family:var(--main-font);
    font-size:var(--base-font-size);
}